Buf + Send to Mango.js
[{"id":"14b85565.41ae1b","type":"tab","label":"buf + Send to Mango"},{"id":"f57a1098.e35a4","type":"sqlite","z":"14b85565.41ae1b","mydb":"38876392.1a579c","name":"SQlite","x":350,"y":100,"wires":[[]]},{"id":"e3e479ac.de85e8","type":"function","z":"14b85565.41ae1b","name":"Save to DB","func":"msg.topic = \"INSERT INTO mangoSend (mess) \" +\"VALUES ('\"+msg.payload+\"')\";\n\n\n// Update the status with current timestamp\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\nnode.status({fill:\"blue\",shape:\"ring\",text:\"Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss});    \nreturn msg;","outputs":1,"noerr":0,"x":170,"y":100,"wires":[["2fa6a268.839c5e","f57a1098.e35a4"]]},{"id":"a98d5b3.4d38ba8","type":"comment","z":"14b85565.41ae1b","name":"SAVE TO DB","info":"","x":90,"y":60,"wires":[]},{"id":"f66dbf92.ebf79","type":"function","z":"14b85565.41ae1b","name":"format HTTP Post for Mango","func":"\n// Content Type for post form-data\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":460,"wires":[["d18a67d1.c91728"]]},{"id":"d18a67d1.c91728","type":"http request","z":"14b85565.41ae1b","name":"","method":"POST","ret":"txt","url":"mangolocal.pgpsmartsensing.be/httpds","tls":"","x":450,"y":460,"wires":[["9b045c89.777c","4b3c1d59.a1c154"]]},{"id":"9b045c89.777c","type":"debug","z":"14b85565.41ae1b","name":"","active":true,"console":"false","complete":"true","x":610,"y":500,"wires":[]},{"id":"f597f8a3.6496e8","type":"sqlite","z":"14b85565.41ae1b","mydb":"38876392.1a579c","name":"SQlite","x":570,"y":280,"wires":[["d7d9ce27.1f255"]]},{"id":"83536797.26cef8","type":"function","z":"14b85565.41ae1b","name":"fetch from DB","func":"msg.topic =\"SELECT * FROM mangoSend WHERE status='FALSE';\";\n\n// Update the status with current timestamp\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\nnode.status({fill:\"blue\",shape:\"ring\",text:\"Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss});    \nreturn msg;","outputs":1,"noerr":0,"x":420,"y":280,"wires":[["f597f8a3.6496e8"]]},{"id":"cec9358c.8f92b8","type":"comment","z":"14b85565.41ae1b","name":"Fetch data not sent","info":"","x":110,"y":240,"wires":[]},{"id":"eea84772.612ce8","type":"inject","z":"14b85565.41ae1b","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":true,"x":110,"y":280,"wires":[["9a5ec608.024938"]]},{"id":"d9efac90.41b34","type":"debug","z":"14b85565.41ae1b","name":"","active":false,"console":"false","complete":"true","x":870,"y":320,"wires":[]},{"id":"d7d9ce27.1f255","type":"function","z":"14b85565.41ae1b","name":"send message","func":"msg.payload.forEach(function (data) {\n        var mess =`${data.mess}`;\n        var ID = `${data.ID}`\n        node.send({payload:mess,id:ID});\n});\n","outputs":1,"noerr":0,"x":720,"y":280,"wires":[["d9efac90.41b34","41bbdfa6.246b4"]]},{"id":"b8832079.10f79","type":"link in","z":"14b85565.41ae1b","name":"save mangoSend","links":["fbc58fed.91559"],"x":55,"y":100,"wires":[["e3e479ac.de85e8"]]},{"id":"2fa6a268.839c5e","type":"debug","z":"14b85565.41ae1b","name":"","active":false,"console":"false","complete":"true","x":350,"y":140,"wires":[]},{"id":"41bbdfa6.246b4","type":"link out","z":"14b85565.41ae1b","name":"","links":["b7a68c1e.c5799"],"x":835,"y":280,"wires":[]},{"id":"4b3c1d59.a1c154","type":"link out","z":"14b85565.41ae1b","name":"","links":["d735bd1c.33848"],"x":575,"y":460,"wires":[]},{"id":"d735bd1c.33848","type":"link in","z":"14b85565.41ae1b","name":"status TRUE","links":["4b3c1d59.a1c154"],"x":55,"y":620,"wires":[["9e490be3.add3d8","d7f09209.244d7"]]},{"id":"b7a68c1e.c5799","type":"link in","z":"14b85565.41ae1b","name":"send to Mango","links":["41bbdfa6.246b4"],"x":55,"y":460,"wires":[["f66dbf92.ebf79"]]},{"id":"339fc72c.4d6a68","type":"comment","z":"14b85565.41ae1b","name":"Send Message to Mango","info":"","x":130,"y":420,"wires":[]},{"id":"a5529486.868598","type":"comment","z":"14b85565.41ae1b","name":"Change Status if received","info":"","x":130,"y":580,"wires":[]},{"id":"9e490be3.add3d8","type":"function","z":"14b85565.41ae1b","name":"change if received by mango","func":"var unconsumed = msg.payload.includes(\"Unconsumed\");\n\nvar sql = \"\";\nvar outputs = [];\n\n// If one param is unconsumed OR not received by server DO NOTHING\nif (unconsumed || msg.statusCode != 200)\n{\n    msg.payload = \"data with id \"+msg.id+\" was NOT send successfully\";\n}\n\n// If OK, change status to TRUE\nelse {\n    msg.payload = \"data with id \"+msg.id+\" was sent to mango successfully\";\n    msg.topic = \"UPDATE mangoSend SET status = 'TRUE' WHERE ID = '\"+msg.id+\"';\";\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":240,"y":620,"wires":[[]]},{"id":"60bb68d3.2f05b8","type":"debug","z":"14b85565.41ae1b","name":"","active":true,"console":"false","complete":"true","x":590,"y":620,"wires":[]},{"id":"b9a64e55.8fd81","type":"sqlite","z":"14b85565.41ae1b","mydb":"38876392.1a579c","name":"SQlite","x":450,"y":620,"wires":[["60bb68d3.2f05b8"]]},{"id":"d7f09209.244d7","type":"function","z":"14b85565.41ae1b","name":"Delete if received by mango","func":"var unconsumed = msg.payload.includes(\"Unconsumed\");\n\nvar sql = \"\";\nvar outputs = [];\n\n// If one param is unconsumed OR not received by server DO NOTHING\nif (unconsumed || msg.statusCode != 200)\n{\n    msg.payload = \"data with id \"+msg.id+\" was NOT send successfully\";\n}\n\n// If OK, change status to TRUE\nelse {\n    msg.payload = \"data with id \"+msg.id+\" was sent to mango successfully\";\n    msg.topic = \"DELETE FROM mangoSend WHERE ID = '\"+msg.id+\"';\";\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":240,"y":660,"wires":[["b9a64e55.8fd81"]]},{"id":"9a5ec608.024938","type":"delay","z":"14b85565.41ae1b","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":280,"wires":[["83536797.26cef8"]]},{"id":"38876392.1a579c","type":"sqlitedb","z":"","db":"/mnt/ramdisk/database.db"}]